				header{
					padding: 10px;
					border: 1px solid gray;
				}
				#logo{
					opacity:1;
					transition: 0.5s ease;
				}
				#logo:hover{
					opacity:1;
					transition: 0.5s ease;
					width: 100px;
					height: 100px;
				}
				#thecreator{
					float: right;
				}
				#title{
					position: relative;
					font-size:60px;
					}
				#section1{
					border: 1px solid gray;
					}
				#article1{
					text-align: left;
					padding: 150px;
					background: #EB7B51;
					}
				#article2{
					padding: 20px;
					background: white;
					text-align: center;
					}
				#learnmore1{
					text-decoration: none;
					position: relative;
					top: 40px;
					border-radius: 25px;
					background: white;
					padding: 12px;
					width: 200px;
					height: 150px;
					color: #54b3d6;
					font-size:17px;
					margin: 0 -.25rem;
					padding: 0.7rem;
					transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
					}
				#learnmore1:hover{
					text-decoration: none;
					background-color: #6BA7BB;
					color: white;
					font-size: 20px;
					box-shadow: inset 200px 0 0 0 #54b3d6;
					color: white;
					transition: 0.5s ease;
					}
				#learnmore1:active{
					text-decoration: none;
					background-color: white;
					color: white;
					border: 1px solid white;
					font-size: 17px;
					}
				#section2{
					text-align: center;
					border: 1px solid gray;
					}
				#article3{
					padding: 150px;
					background: #5AA44D;
					text-align: right;
					}
				#section4{
					text-align: center;
					display: flex;
					border: 1px solid gray;
					}
				#article4{
					padding: 100px;
					background: white;
					}
				#article8{
					padding: 100px;
					background: #A9A9A9;
					justify-content: space-evenly;
					}
				#learnmore2{
					text-decoration: none;
					position: relative;
					top: 40px;
					border-radius: 25px;
					background: white;
					padding: 12px;
					width: 200px;
					height: 150px;
					color: #54b3d6;
					font-size:17px;
					margin: 0 -.25rem;
					padding: 0.7rem;
					transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
					}
				#learnmore2:hover{
					text-decoration: none;
					background-color: #6BA7BB;
					color: white;
					font-size: 20px;
					box-shadow: inset 200px 0 0 0 #54b3d6;
					color: white;
					transition: 0.5s ease;
					}
				#learnmore2:active{
					text-decoration: none;
					background-color: white;
					color: white;
					border: 1px solid white;
					font-size: 17px;
					}
				#section3{
					padding: 20px;
					background: #75B2B9;
					}
				#section6{
					text-align: center;
					padding: 20px;
					}
				#section5{
					padding: 40px;
					justify-content: space-evenly;
					display: flex;
				}
				footer{
					justify-content: space-evenly;
				}
				#article8{
					margin:auto;
				}
				#article8 ul li{
					list-style: none;
					position: relative;
					right: 20px;
				}
				#article8 ul li:nth-child(5) {
					margin-right: 0;
				}	
				#facebook{
					background: url('../images/sprite.png') no-repeat -34px -23px;
					background-position: 0 0;
					width: 100px;
					height: 100px;
					display: inline-block;
					border: 2px solid #777;
					border-radius: 100%;
					transition: 0.3s;
				}
				#facebook:hover{
					background-position: 0 -110px;
					width: 100px;
					height: 100px;
				}
				#youtube{
					background: url('../images/sprite.png') no-repeat;
					background-position: -210px 0;
					width: 100px;
					height: 100px;
					display: inline-block;
					border: 2px solid #777;
					border-radius: 100%;
					transition: 0.3s;
				}
				#youtube:hover{
					background-position: -210px -110px;
					width: 100px;
					height: 100px;
				}
				#twitter{
					background: url('../images/sprite.png') no-repeat;
					background-position: -105px 0;
					width: 100px;
					height: 100px;
					display: inline-block;
					border: 2px solid #777;
					border-radius: 100%;
					transition: 0.3s;
				}
				#twitter:hover{
					background-position: -105px -110px;
					width: 100px;
					height: 100px;
				}
				#instagram{
					background: url('../images/sprite.png') no-repeat;
					background-position: -315px 0;
					width: 100px;
					height: 100px;
					display: inline-block;
					border: 2px solid #777;
					border-radius: 100%;
					transition: 0.3s;
				}
				#instagram:hover{
					background-position: -315px -110px;
					width: 100px;
					height: 100px;
				}
				#copy{
					text-decoration: none;
					color: #54b3d6;
				}
				#copy:hover{
					transition: 0.2s ease;
					text-decoration: none;
					font-size: 18px;
					color: teal;
				}